<h1>A New Recipe</h1>

<form method="POST" action="/recipes">
	<p>Recipe Name: <textarea name="name"></textarea></p>
	<p>Ingredients: <textarea name="ingredients"></textarea></p>
	<p>Cook Time: <textarea name="cook_time"></textarea></p>
	<button type='submit' >submit</button>
</form>